.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

button {
    margin-left: 10px;
    width: 210px;
}

.full-width {
    width: 70%;
}

@media (max-width: 801px) {
    .flex-container {
        flex-direction: column;
    }
}